<%= render partial: "header", locals: {leader_board: ''}%>

<div class='data_content'>

	<div id='color_picker'>
		Color Picker: <br/><input class="colors">
	</div>

	<div id="grids">
	  <%= render partial: "grids"%>
	</div>
</div>